@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    @apply max-w-screen-xl mx-auto px-10;
  }
}

.sx-react-calendar-wrapper {
  width: 100%;
  height: 100%;
}

/* Customizing the scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 5px; /* Height of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track color */
  border-radius: 10px; /* Optional: Rounded edges */
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #cfcfcf; /* Scrollbar color */
  border-radius: 50px; 
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bbbbbb; /* Hover color */
}
